$primary: #AF1E2D;
$secondary: #FFCE00;
$dark: #171717;
$LIGHT: #F3F3F3;

body {
    margin: 0;
    background: $dark;
    font-family: "Exo 2", "Helvetica", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

    h1 {
    color: $LIGHT;
    text-transform: uppercase;
    }

    .game-view {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .number {
            color: #F3F3F3;
            font-size: 125px;
            line-height: 1;
            font-weight: 700;
            padding: 15px;
            margin-right: 15px;
            background: transparentize($color: $LIGHT, $amount: 0.85);
    }

    .button-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: $LIGHT;
    }

        div {
            display: flex;
            justify-content: space-between;
        }


.btn {
            width: 50px;
            height: 50px;
            border: none;
            outline: none;
            font-size: 28px;
            line-height: 50px;
            font-weight: 700;
            padding: 0;
            margin: 0;
            cursor: pointer;
        }
        
        &#higher {
            color: $LIGHT;
            background: $primary;
        

            &:hover {
                background: lighten($color: $primary, $amount: 5);
            }

            &:active {
                background: darken($color: $primary, $amount: 5);
            }
        }
        
        
            &#lower {
                color: $dark;
                background: $secondary;
            
    
                &:hover {
                    background: lighten($color: $primary, $amount: 5);
                }
    
                &:active {
                    background: darken($color: $secondary, $amount: 5);
                }
            }

        p {
            margin-left: 15px;
        }

        h3 {
            color: #F3F3F3;
            font-size: 40px;
            line-height: 1;
            margin: 15px;

            &.correct {
                color: $secondary;
            
            }
            &.incorrect {
                color: $primary;
            }
            transition: all 0.5s linear;
        }
        
        h4 {
            color: $LIGHT;
            font-size: 28px;
            line-height: 1;
            margin: 15px;
        }

        .score {
            color: #F3F3F3;
            font-size: 42px;
            line-height: 1;
            font-weight: 700;
            padding: 15px;
            margin-right: 15px;
            background: transparentize($color: $secondary, $amount: 0.85);
        }

        .hide {
            transition: all 0.5s linear;
            opacity: 0;
        }